a {
  color: #aecd46;
}

@media (min-width:1200px) {
  .container {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
  }
}

@media (min-width:576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

img {
  vertical-align: middle;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#btnReclamation1 {
  margin: -5px;
  margin-top: 30px;
  height: 29px;
  width: 137.125px;
  padding: 4px 12px;
  padding-top: 4px;
}

