#organigrammeBanner {
  background: linear-gradient(-20deg, #0a80ca 0%, rgba(189,211,114,0.74) 0%, rgb(60,159,142) 75%, #3987f9 100%), rgba(57,135,249,0);
  width: 562px;
  margin-left: 58px;
  margin-top: -122px;
}

